body{
    border:0px solid black;
    margin: 0 auto;
    width:80%;
    text-align: center;

}
div {
    border:0px solid black;  
}
img{
    width:80%;
    height:200px;
    object-fit: cover;
}
input{
    width:300px;
    height:30px;
}

@media (min-width:650px) {
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        
    }
    img{
        object-fit: contain;
    } 
}

@media (min-width:980px) {
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap:10px;
    }
    img{
        object-fit: contain;
    } 
}